<%= turbo_frame_tag dom_id(comment, :edit) do %>
  <%= form_with(model: [catch, comment], html: { class: "w-full relative" }) do |f| %>
    <div class="relative">
      <%= f.text_field :content, placeholder: "コメントを入力...", class: "block w-full p-2 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
      <button type="submit" class="absolute end-1.5 bottom-1.5 p-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="w-3 h-3 text-white rotate-45" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20" aria-hidden="true">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
        </svg>
      </button>
    </div>
  <% end %>
<% end %>