<div id="catch_<%= catch.id %>_comments" class="space-y-4">
  <% comments.each do |comment| %>
    <%= render partial: "comments/comment", locals: { catch: catch, comment: comment } %>
  <% end %>
</div>