<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <div class="flash-message-container">
          <div class="flash-message alert" data-controller="flash">
            <li><%= message %></li>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
<% end %>
