<div class="feature p-2 text-xl text-neutral-content font-bold rounded-lg flex items-baseline justify-end transform transition duration-500 mt-0" style="margin-top: 0;">
  <span class="leading-tight">
    <%= t('activerecord.attributes.catch.index.all') %>
  </span>
</div>

<div id="catches" class="grid grid-cols-1 gap-2">
  <% @catches.each do |catch| %>
    <% background_image_url = catch.images.attached? && catch.images.first.present? ? url_for(catch.images.first) : '/no_image.png' %>
    <div id="destroy_catch_<%= catch.id %>">
      <%= render partial: "catch", locals: { catch: catch, background_image_url: background_image_url } %>
    </div>
  <% end %>
</div>