<div class="flex -space-x-4 rtl:space-x-reverse">
  <%= image_tag diary.user.profile_image, class: "w-[42px] h-[42px] border-2 rounded-full border-gray-800", alt: "#{diary.user.username} profile image" %>
  <% if diary.images.any? %>
    <%= image_tag diary.images.first, class: "w-[42px] h-[42px] border-2 rounded-full border-gray-800", alt: "Diary image" %>
  <% end %>
</div>
