<div class="feature p-2 text-xl text-neutral-content font-bold rounded-lg flex items-baseline justify-end transform transition duration-500 mt-0" style="margin-top: 0;">
  <span class="leading-tight">
    <%= t('activerecord.attributes.diary.index.all', user_name: current_user.username) %>
  </span>
</div>

<div id="diaries" class="grid grid-cols-1 gap-2">
  <% @diaries.each do |diary| %>
    <% background_image_url = diary.images.attached? && diary.images.first.present? ? url_for(diary.images.first) : '/no_image.png' %>
    <div id="destroy_diary_<%= diary.id %>">
      <%= render partial: "diary", locals: { diary: diary, background_image_url: background_image_url } %>
    </div>
  <% end %>
</div>