<div class="flex justify-center mt-8">
  <div class="join">
    <% if @posts.prev_page %>
      <%= link_to raw("&laquo;"), url_for(page: @posts.prev_page), class: "join-item btn bg-base-100 bg-opacity-70 border-none" %>
    <% else %>
      <span class="join-item btn bg-base-100 bg-opacity-70 border-none disabled">&laquo;</span>
    <% end %>

    <% (1..@posts.total_pages).each do |page| %>
      <% if page == @posts.current_page %>
        <span class="join-item btn btn-active bg-base-100 bg-opacity-70 border-none"><%= page %></span>
      <% else %>
        <%= link_to page, url_for(page: page), class: "join-item btn bg-base-100 bg-opacity-70 border-none" %>
      <% end %>
    <% end %>

    <% if @posts.next_page %>
      <%= link_to raw("&raquo;"), url_for(page: @posts.next_page), class: "join-item btn bg-base-100 bg-opacity-70 border-none" %>
    <% else %>
      <span class="join-item btn bg-base-100 bg-opacity-70 border-none disabled">&raquo;</span>
    <% end %>
  </div>
</div>