<footer class="bg-neutral bg-opacity-70 text-neutral-content fixed bottom-0 left-0 w-full shadow-lg z-50">
  <div class="container mx-auto px-4">
    <nav class="flex justify-between items-center py-2">
      <% if user_signed_in? %>
        <a href="/all_records" class="flex flex-col items-center text-center">
          <i class="fas fa-users fa-lg mb-1"></i>
          <span class="text-sm leading-tight">All</span>
        </a>
        <a href="/your_records" class="flex flex-col items-center text-center">
          <i class="fas fa-user fa-lg mb-1"></i>
          <span class="text-sm leading-tight">Yours</span>
        </a>
        <a href="/record" class="relative flex flex-col items-center text-primary">
          <div class="relative bg-primary text-white rounded-full p-3 shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-110 hover:rotate-12 flex items-center justify-center">
            <i class="fas fa-edit fa-2x mb-1"></i>
            <span class="ml-2 font-bold">Record</span>
            <div class="absolute inset-0 rounded-full bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 opacity-50 animate-pulse"></div>
          </div>
        </a>
        <a href="/diary" class="flex flex-col items-center text-center">
          <i class="fas fa-book fa-lg mb-1"></i>
          <span class="text-sm leading-tight">Diary</span>
        </a>
        <a class="nav-link flex flex-col items-center text-center" href="<%= destroy_user_session_path %>" data-turbo-method="delete">
          <i class="fas fa-sign-out-alt fa-lg mb-1"></i>
          <span class="text-sm leading-tight">Logout</span>
        </a>
      <% else %>
        <a href="<%= new_user_session_path %>" class="flex flex-col items-center text-center">
          <i class="fas fa-sign-in-alt fa-lg mb-1"></i>
          <span class="text-sm leading-tight">Login</span>
        </a>
        <a href="/all_records" class="relative flex flex-col items-center text-primary">
          <div class="relative bg-primary text-white rounded-full p-3 shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-110 hover:rotate-12 flex items-center justify-center">
            <i class="fas fa-eye fa-2x mb-1"></i>
            <span class="ml-2 font-bold">Records</span>
            <div class="absolute inset-0 rounded-full bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 opacity-50 animate-pulse"></div>
          </div>
        </a>
        <a href="<%= new_user_registration_path %>" class="flex flex-col items-center text-center">
          <i class="fas fa-user-plus fa-lg mb-1"></i>
          <span class="text-sm leading-tight">Sign Up</span>
        </a>
      <% end %>
    </nav>
  </div>
</footer>