<div class="about-main">
  <h2>Fishingramとは</h2>
  <p>
    自分が釣った魚を誰かに見せたい、釣果を手軽にシェアしたい、そう思ったことはありませんか？<br>
    そんな時はFishingramの出番です。<br>
    Fishingramは手軽に釣果を発信できる、釣果の最適なシェアツールです。<br>
    釣り上げる歓びのみならず、シェアする楽しさを通して、釣りをもっと楽しみましょう。<br>
    <br>
    使い方はとてもシンプルです。釣れた魚の写真と短いコメントを投稿するだけです。<br>
    継続的に利用することで、自身の釣果記録としても有効なツールとなるでしょう。<br>
    <br>
    この楽しいを通して、あなたの青春を探しに行きましょう。
  </p>
</div>
  <div class="copy-right">
    <p>&copy;2024 Freepik.inc</p>
  </div>