<div class="about-main">
  <h2>Fishingramとは</h2>
  <p>
    釣果を手軽にシェアしたい、身近な海でどんな魚が釣れるのか気になる、そう思ったことはありませんか？<br>
    そんな時はFishingramの出番です。<br>
    Fishingramは手軽に釣果の発信や確認などができる釣果のシェアツールです。<br>
    ターゲット魚を釣り上げる歓びだけではなく、それをシェアする楽しさを通して、釣りを存分に楽しみましょう。<br>
    <br>
    使い方はとてもシンプルです。釣れた魚の写真を撮り、短いコメントと一緒に投稿するだけです。<br>
    投稿した釣果を一覧で表示することもでき、自身の釣果記録としても有効なツールになるでしょう。<br>
    <br>
    利用は全て無料です。釣果の記録も兼ねて、ぜひ素敵な釣果をシェアしてください。<br>
  </p>
</div>
  <div class="copy-right">
    <p>&copy;2024 Freepik.inc</p>
  </div>