<div class="about-main">
  <h2>Fishingramとは</h2>
  <p>
    釣果を手軽にシェアしたい、身近な海でどんな魚が釣れるのか気になる、そう思ったことはありませんか？<br>
    そんな時はFishingramの出番です。<br>
    Fishingramは手軽に釣果の発信や確認などができる最適なシェアツールです。<br>
    ターゲット魚を釣り上げる歓びだけではなく、それをシェアする楽しさを通して、釣りを存分に楽しみましょう。<br>
    <br>
    使い方はとてもシンプルです。釣れた魚の写真を撮り、短いコメントと一緒に投稿するだけです。<br>
    釣れた時の状況を言語化することで、自身の釣果記録としても有効なツールになり得るでしょう。<br>
    <br>
    一人きりで満足せず、ぜひ素敵な釣果を私たちにシェアしてください。<br>
  </p>
</div>
  <div class="copy-right">
    <p>&copy;2024 Freepik.inc</p>
  </div>