<div class="flex justify-center">
  <div class="px-8 py-2" data-controller="intro" data-intro-delay-value="500" style="max-width: 475px;">
    <h1 class="hidden fade-in-top mt-28 mb-2 flex justify-center" data-intro-target="element">
      <%= image_tag "/2.svg", class: "h-32", alt: "Fishingram Logo" %>
    </h1>
    <p class="hidden fade-in-bottom flex mt-8 justify-center mb-4" data-intro-target="element">
      <%= image_tag "/h2.svg", class: "h-16", alt: "Fishingram Banner" %>
    </p>

    <p class="hidden fade-in-bottom text-neutral-content mb-6 flex items-center justify-center" data-intro-target="element">
      <i class="fas fa-circle-info mr-4 text-xl"></i>Fishingramは手軽に釣果を記録することができるサービスです。
    </p>

    <p class="hidden fade-in-bottom text-neutral-content mt-6 mb-1" data-intro-target="element">
      主な機能
    </p>

    <hr class="hidden line-grow border-t border-neutral-content mb-4" data-intro-target="element">

    <p class="hidden fade-in-bottom text-neutral-content mb-4 flex items-center justify-center" data-intro-target="element">
      <i class="fas fa-camera text-blue-500 mr-4 text-xl"></i>魚の写真と一緒に釣れた時の状況を簡単に記録できます。
    </p>

    <p class="hidden fade-in-bottom text-neutral-content mb-4 flex items-center justify-center" data-intro-target="element">
      <i class="fas fa-book text-green-500 mr-4 text-xl"></i>自分しか見れない日記機能で、手軽に釣行の振り返りができます。
    </p>

    <p class="hidden fade-in-bottom text-neutral-content mb-4 flex items-center justify-center" data-intro-target="element">
      <i class="fas fa-map-marker-alt text-red-500 mr-4 text-xl"></i>位置情報機能を使えば、釣れた場所まで記録が可能です。
    </p>

    <hr class="hidden line-grow border-t border-neutral-content mb-2" data-intro-target="element">

    <p class="hidden fade-in-bottom text-neutral-content mt-8 mb-4 flex items-center justify-center" data-intro-target="element">
      <i class="fas fa-circle-info mr-4 text-xl"></i>Recordボタンから記録用のフォーマットを見ることができます。
    </p>

    <p class="hidden fade-in-bottom text-neutral-content mb-4 flex items-center justify-center" data-intro-target="element">
      <i class="fas fa-circle-info mr-4 text-xl"></i>まずはAllボタンから、みんなの釣果を覗いてみましょう。
    </p>

    <p class="hidden fade-in-bottom text-neutral-content mb-4 flex items-center justify-center" data-intro-target="element">
      <i class="fas fa-circle-info mr-4 text-xl"></i>自分だけの釣果記録や日記機能等は、アカウント登録が必要です。
    </p>
  </div>
</div>