<div class="flex justify-center">
  <div class="px-8 py-2" data-controller="intro" data-intro-delay-value="500" style="max-width: 475px;">
    <h1 class="hidden fade-in-top mt-28 mb-2 flex justify-center" data-intro-target="element">
      <%= image_tag "/icon_white.svg", class: "h-32", alt: "Fishingram Logo" %>
    </h1>
    <p class="hidden fade-in-bottom flex mt-8 justify-center mb-4" data-intro-target="element">
      <%= image_tag "/banner_white.svg", class: "h-16", alt: "Fishingram Banner" %>
    </p>

    <p class="hidden fade-in-bottom text-neutral-content mb-6 flex items-center justify-start" data-intro-target="element">
      <svg class="w-6 h-6 mr-4 flex-shrink-0 text-neutral-content" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16.881V7.119a1 1 0 0 1 1.636-.772l5.927 4.881a1 1 0 0 1 0 1.544l-5.927 4.88A1 1 0 0 1 8 16.882Z"/>
      </svg>
      Fishingramは手軽に釣果を記録することができるサービスです。
    </p>

    <p class="hidden fade-in-bottom text-neutral-content mt-6 mb-1" data-intro-target="element">
      主な機能
    </p>

    <hr class="hidden line-grow border-t border-neutral-content mb-4" data-intro-target="element">

    <p class="hidden fade-in-bottom text-neutral-content mb-4 flex items-center justify-start" data-intro-target="element">
      <svg class="w-6 h-6 mr-4 flex-shrink-0 text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M7.5 4.586A2 2 0 0 1 8.914 4h6.172a2 2 0 0 1 1.414.586L17.914 6H19a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h1.086L7.5 4.586ZM10 12a2 2 0 1 1 4 0 2 2 0 0 1-4 0Zm2-4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Z" clip-rule="evenodd"/>
      </svg>
      魚の写真と一緒に釣れた時の状況を簡単に記録できます。
    </p>

    <p class="hidden fade-in-bottom text-neutral-content mb-4 flex items-center justify-start" data-intro-target="element">
      <svg class="w-6 h-6 mr-4 flex-shrink-0 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2a1 1 0 0 0 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z" clip-rule="evenodd"/>
      </svg>
      自分しか見れない日記機能で、釣行の振り返りができます。
    </p>

    <p class="hidden fade-in-bottom text-neutral-content mb-4 flex items-center justify-start" data-intro-target="element">
      <svg class="w-6 h-6 mr-4 flex-shrink-0 text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
      </svg>
      位置情報機能を使えば、釣れた場所まで記録が可能です。
    </p>

    <hr class="hidden line-grow border-t border-neutral-content mb-6" data-intro-target="element">

    <p class="hidden fade-in-bottom text-neutral-content mb-4 flex items-center justify-start" data-intro-target="element">
      <svg class="w-6 h-6 mr-4 flex-shrink-0 text-neutral-content" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16.881V7.119a1 1 0 0 1 1.636-.772l5.927 4.881a1 1 0 0 1 0 1.544l-5.927 4.88A1 1 0 0 1 8 16.882Z"/>
      </svg>
      「使い方」ボタンからアプリの使い方を見ることができます。
    </p>

    <p class="hidden fade-in-bottom text-neutral-content mb-4 flex items-center justify-start" data-intro-target="element">
      <svg class="w-6 h-6 mr-4 flex-shrink-0 text-neutral-content" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16.881V7.119a1 1 0 0 1 1.636-.772l5.927 4.881a1 1 0 0 1 0 1.544l-5.927 4.88A1 1 0 0 1 8 16.882Z"/>
      </svg>
      また「釣果を見る」ボタンから様々な釣果を覗いてみましょう。
    </p>

    <p class="hidden fade-in-bottom text-neutral-content mb-4 flex items-center justify-start" data-intro-target="element">
      <svg class="w-6 h-6 mr-4 flex-shrink-0 text-neutral-content" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16.881V7.119a1 1 0 0 1 1.636-.772l5.927 4.881a1 1 0 0 1 0 1.544l-5.927 4.88A1 1 0 0 1 8 16.882Z"/>
      </svg>
      <span class="underline-fade-in">釣りに出かけた際、ゴミは必ず持ち帰り、綺麗な海や川を守りましょう。</span>
    </p>
  </div>
</div>