<div class="main top-main">
  <div class="top-message">
    <h2>Where is your Blue?</h2>
    <p>Try to find your youth through awesome Fishing.</p>
  </div>
  <div class="copy-right">
    <p>&copy;2024 Freepik.inc</p>
  </div>
</div>