<div class="py-24 md:py-44 lg:py-8" data-controller="wish">
  <!-- Top -->
  <div class="hidden fade-in-top flex items-center justify-between max-w-screen-xl mx-auto px-3 mb-6" data-wish-target="element">
    <h5 class="text-lg md:text-xl font-bold leading-none text-gray-900 dark:text-white">ー　プラスチックごみについて考える　ー</h5>
  </div>

  <div class="flex flex-col px-3 w-full max-w-screen-xl mx-auto">

    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-8">
      <!-- Card 1 -->
      <div class="mb-6 md:mb-6 lg:mb-0 hidden fade-in-bottom flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row w-full max-w-screen-xl mx-auto hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-900" data-wish-target="element">
          <img class="object-cover w-full rounded-t-lg h-40 md:h-64 md:w-auto md:rounded-none md:rounded-s-lg" src="/" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-base md:text-lg font-bold tracking-tight text-gray-900 dark:text-white">増え続けるプラスチックごみ</h5>
              <p class="mb-3 text-sm md:text-base font-normal text-gray-700 dark:text-gray-400">海洋ごみにもさまざまな種類がありますが、海洋ごみの半分以上を占めるプラスチックごみは、時間がたってもほとんど分解されず、中には400年以上海の中を漂うものもあると言われています。</p>
              <p class="mb-3 text-sm md:text-base font-normal text-gray-700 dark:text-gray-400">このようなプラスチックゴミが、世界中で毎年約800万トン（東京ドーム7個分）、海に流れ出しています。</p>
          </div>
      </div>

      <!-- Card 2 -->
      <div class="mb-6 md:mb-6 lg:mb-0 hidden fade-in-bottom flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row w-full max-w-screen-xl mx-auto hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-900" data-wish-target="element">
          <img class="object-cover w-full rounded-t-lg h-40 md:h-64 md:w-auto md:rounded-none md:rounded-s-lg" src="/" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-base md:text-lg font-bold tracking-tight text-gray-900 dark:text-white">このまま2050年を迎えると…</h5>
              <p class="mb-3 text-sm md:text-base font-normal text-gray-700 dark:text-gray-400">プラスチックごみ問題は年々深刻化しており、世界経済フォーラムのレポートによると、2050年までに海のプラスチックごみは地球上の魚の量を上回ると予測されています。</p>
              <p class="mb-3 text-sm md:text-base font-normal text-gray-700 dark:text-gray-400">プラスチックを大量に摂取した魚を食べることで、化学物質が人体に蓄積し、悪影響を及ぼすことが懸念されており、近い将来、魚を食べることができなくなる可能性があると言われています。</p>
          </div>
      </div>

      <!-- Card 3 -->
      <div class="mb-6 md:mb-6 lg:mb-0 hidden fade-in-bottom flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row w-full max-w-screen-xl mx-auto hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-900" data-wish-target="element">
          <img class="object-cover w-full rounded-t-lg h-40 md:h-64 md:w-auto md:rounded-none md:rounded-s-lg" src="/" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-base md:text-lg font-bold tracking-tight text-gray-900 dark:text-white">プラスチックごみはどこから来るのか？</h5>
              <p class="mb-3 text-sm md:text-base font-normal text-gray-700 dark:text-gray-400">プラスチックゴミの7~8割は街から来ています。街で捨てられたごみが水路や川に流れ出し、最終的には海に流れ着きます。</p>
              <p class="mb-3 text-sm md:text-base font-normal text-gray-700 dark:text-gray-400">特に、日本は1人当たりのパッケージ用プラスチックごみの発生量が、アメリカに次いで世界で2番目に多い国であり、ごみの発生原因は「ぽい捨て」や「漏洩」がほとんどだと言われています。</p>
       
          </div>
      </div>

      <!-- Card 5 -->
      <div class="mb-6 md:mb-6 lg:mb-0 hidden fade-in-bottom flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row w-full max-w-screen-xl mx-auto hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-900" data-wish-target="element">
          <img class="object-cover w-full rounded-t-lg h-40 md:h-64 md:w-auto md:rounded-none md:rounded-s-lg" src="/" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-base md:text-lg font-bold tracking-tight text-gray-900 dark:text-white">日本の現状</h5>
              <p class="mb-3 text-sm md:text-base font-normal text-gray-700 dark:text-gray-400">Nature Briefingによると、実際に東京湾で釣った64匹のイワシのうち、77%にあたる49匹のイワシの体内からマイクロプラスチックが出てきたという調査報告がなされています。</p>
              <p class="mb-3 text-sm md:text-base font-normal text-gray-700 dark:text-gray-400">マイクロプラスチックは、摂取し続けると、がんの発生率上昇や生殖機能の低下、また子供の発達障害を引き起こす可能性があると言われています。</p>
          </div>
      </div>

      <!-- Card 4 -->
      <div class="mb-6 md:mb-6 lg:mb-0 hidden fade-in-bottom flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row w-full max-w-screen-xl mx-auto hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-900" data-wish-target="element">
          <img class="object-cover w-full rounded-t-lg h-40 md:h-64 md:w-auto md:rounded-none md:rounded-s-lg" src="/" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-base md:text-lg font-bold tracking-tight text-gray-900 dark:text-white">世界の取り組み</h5>
              <p class="mb-3 text-sm md:text-base font-normal text-gray-700 dark:text-gray-400">世界の国々が2030年までに達成すべき17の目標として、2015年9月に国連サミットで採択された持続可能な開発目標「SDGs」が定められています。</p>
              <p class="mb-3 text-sm md:text-base font-normal text-gray-700 dark:text-gray-400">この「SDGs」の14番目の項目として「海の豊かさを守る」という目標が掲げられており、プラスチックごみの抑制に向けた具体的な目標が定められています。</p>
          </div>
      </div>

      <!-- Card 6 -->
      <div class="mb-6 md:mb-6 lg:mb-0 hidden fade-in-bottom flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row w-full max-w-screen-xl mx-auto hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-900" data-wish-target="element">
          <img class="object-cover w-full rounded-t-lg h-40 md:h-64 md:w-auto md:rounded-none md:rounded-s-lg" src="/" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-base md:text-lg font-bold tracking-tight text-gray-900 dark:text-white">プラスチックごみについて考える</h5>
              <p class="mb-3 text-sm md:text-base font-normal text-gray-700 dark:text-gray-400">近年、プラスチックの海洋流出問題の危機感が高まり、マイボトルやマイバックなどの利用が増えています。</p>
                  
          </div>
      </div>

    </div>
  </div>
</div>