<div class="max-w-sm border rounded-lg shadow bg-gray-900 border-gray-700" data-action="click->hello#stopToggle">
    <%= turbo_frame_tag "admin_diary_show_#{diary.id}_images" do %>
        <%= render 'admin_show_images', diary: diary %>
    <% end %>

    <%= turbo_frame_tag "admin_diary_show_#{diary.id}_details" do %>
        <%= render 'admin_show_details', diary: diary %>
    <% end %>
</div>