<div class="py-24 md:pt-8 md:pb-24">
  <!-- Tittle -->
  <div class="flex items-center justify-between max-w-screen-xl mx-auto px-3 mb-6">
    <h5 class="text-lg md:text-xl font-bold leading-none text-gray-900 dark:text-white">Diary Management</h5>
    <a href="<%= admin_dashboard_path %>" class="text-sm md:text-base font-medium text-blue-600 hover:underline dark:text-blue-500">Back to Dashboard</a>
  </div>
  <!-- Card -->
  <%= turbo_frame_tag "admin_diaries_page_#{@diaries.current_page}" do %>
    <div class="flex flex-col items-center justify-center px-3 w-full max-w-screen-xl mx-auto mb-6">
      <div id="catch_index" class="grid grid-cols-1 lg:grid-cols-2 gap-6 w-full">
        <% @diaries.each do |diary| %>
          <%= render 'admin_index_content', diary: diary %>
        <% end %>
      </div>
    </div>

    <% if @diaries.next_page %>
      <%= turbo_frame_tag "admin_diaries_page_#{@diaries.next_page}", src: admin_diaries_path(page: @diaries.next_page) %>
    <% end %>
  <% end %>
</div>