<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-4 py-2 mx-auto">
    <div class="w-full max-w-md p-8 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-900 dark:border-gray-700">
      <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
          Diary Management
        </h5>
        <a href="<%= admin_dashboard_path %>" class="mt-2 sm:mt-0 text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
          Dashboard
        </a>
      </div>
      <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <%= render 'admin_index' %>
        </ul>
      </div>
    </div>
  </div>
</section>