<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">жҠ•зЁҝгҒҷгӮӢ</h1>
    <%= form_tag("/posts/create",{multipart: true})do %>
     <div class="form">
      <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
        <p>гӮігғЎгғігғҲ</p>
        <textarea name="content" ><%= @post.content %></textarea>
        <p>з”»еғҸ</p>
        <input name="image" type="file" >
        <p>*JPGз”»еғҸгӮ’гӮўгғғгғ—гғӯгғјгғүгҒ—гҒҰгҒҸгҒ гҒ•гҒ„</p>
        <input type="submit" value="жҠ•зЁҝ">
      </div>
     </div>
    <% end %>
  </div>
</div>