@tailwind base;
@tailwind components;
@tailwind utilities;

/*=================================== general setting ==========================================*/

@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }

  .tablet-pc-only {
    display: none;
  }
}

@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }

  .tablet-pc-only {
    display: block;
  }
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100vh; 
  font-family: "Noto Sans JP", sans-serif;
}

/*=================================== Top page setting ==========================================*/

.hidden {
    display: none;
}
  
.fade-in-top {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInTop 1s forwards;
}
  
@keyframes fadeInTop {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
.fade-in-bottom {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInBottom 1s forwards;
}
  
@keyframes fadeInBottom {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes lineGrow {
    from {
      width: 0;
      opacity: 1;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
  
  .line-grow {
    width: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .line-grow.show {
    opacity: 1;
    animation: lineGrow 1.5s forwards;
}

@keyframes text-underline-fade {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: currentColor;
  }
}

.underline-fade-in {
  text-decoration: underline;
  text-decoration-color: transparent;
}

.fade-in-complete {
  animation: text-underline-fade 1s ease forwards;
}

.underline-animation {
  width: 0%;
  height: 2.0px;
  background-color: #4B5563;
  transition: width 3.5s ease-in-out;
  margin-top: 8px;
}

.show-underline .underline-animation {
  width: 100%;
}

/*================================ flash and error messages' setting ===================================*/

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.flash-message {
  animation: slideDown 0.5s ease-out forwards;
}

.flash-message.hide {
  animation: slideUp 0.5s ease-out forwards;
}

.flash-message-container {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;
}

.flash-message {
  animation: slideDown 0.5s ease-out forwards;
  pointer-events: auto;
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/*========================================= google button =======================================*/

.gsi-material-button {
  user-select: none;
  user-select: none;
  user-select: none;
  appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}