@tailwind base;
@tailwind components;
@tailwind utilities;

/*=================================== general setting ==========================================*/

.back-ground {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #0d1e1e;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
    background-image: url("/blue-ocean.jpeg");
}

body {
    padding-top: 5rem;
    padding-bottom: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*=================================== Top page setting ==========================================*/

.hidden {
    display: none;
}
  
.fade-in-top {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInTop 1s forwards;
}
  
@keyframes fadeInTop {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
.fade-in-bottom {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInBottom 1s forwards;
}
  
@keyframes fadeInBottom {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes lineGrow {
    from {
      width: 0;
      opacity: 1;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
  
  .line-grow {
    width: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .line-grow.show {
    opacity: 1;
    animation: lineGrow 1.5s forwards;
}

/*================================ flash and error messages' setting ===================================*/

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.flash-message {
  animation: slideDown 0.5s ease-out forwards;
}

.flash-message.hide {
  animation: slideUp 0.5s ease-out forwards;
}

.flash-message-container {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  pointer-events: none;
}

.flash-message {
  border: 1px solid #ff79c6;
  background-color: rgba(19, 20, 27, 0.8); /* 透明度を80%に設定 */
  padding: 10px 20px; /* パディングを調整 */
  max-width: 500px; /* 最大幅を設定 */
  border-radius: 10px; /* 角に丸みを追加 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.5s ease-out forwards;
  pointer-events: auto;
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px); /* 上にフェードアウト */
  }
}

/*=================================== Modal setting  =======================================*/

.modal-box {
  background-color: rgba(19, 20, 27, 0.8);
  width: 90%;
  max-width: 400px;
  position: absolute;
  top: 7%;
  padding: 1rem;
  border-radius: 10px;
  padding: 10px 10px;
}

/*=================================== card-box setting  =======================================*/

.card-box {
  background-color: rgba(19, 20, 27, 0.8);
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 10px 3px; /* 上下のパディングを10px、左右のパディングを3px */
}

/*========================================= google button =======================================*/

.gsi-material-button {
  user-select: none;
  user-select: none;
  user-select: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: none;
  border: 1px solid #ff79c6;
  -webkit-border-radius: 4px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ff79c6;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 20px;
  height: 45px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: 315px;
  max-width: 500px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 35px;
  margin-right: 12px;
  min-width: 20px;
  width: 35px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}